.logoContainer {
    padding-top: 37px;
    padding-left: 28px;
    padding-bottom: 65px;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
}
.logoSubText {
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 991px) {
  .logoTitle {
     display: none;
  }
  .logoContainer {
    padding-left: 37px;
    padding-right: 27px;
  }
}